*{
	margin:0;
	padding:0;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
html{
	font-size:10px;
}
/* https://materialdesignicons.com/*/
body{
	font-family:Roboto;
	font-size:16px;
}

header .contenedor{
	position:relative;
	height:74px;
	width:100%;
	margin:auto;
	overflow:hidden;
}


header{
	width:100%;
	background: url(../img/susho.jpg);
	background-size:cover;
	background-position:center;
	background-attachment:fixed;
}


header .menu{
	width: 100%;
	text-align:right;
	height:7.4rem;
	position:fixed;
	z-index:4;
	transition:all .4s ease;
	background-color:black;

}
header .menu:hover{
	
	
	opacity:.9;
	height:7.4rem;
	

}
header .menu .btn_login{
	background: url(../img/usero.png);
	background-repeat:no-repeat;
	background-position: center;
	transition:all .2s ease;
	height:10px;
}
header .menu .btn_login:hover{
	background: url(../img/user.png);
	background-repeat:no-repeat;
	background-position: center;
	background-size: cover;
}
header .menu .btn_carrito{
	background: url(../img/carto.png);
	background-repeat:no-repeat;
	background-position: center;
	transition:all .2s ease;

	
}
header .menu .btn_carrito:hover{
	background: url(../img/cart.png);
	background-repeat:no-repeat;
	background-position: center;
	background-size:cover;
	height: 10px;
	
}
header .menu .nose,.btn_carrito, .btn_login{
	color: #fff;
	font-size:17px;
	font-weight:200;
	display:inline-block;
	text-decoration:none;
	margin:0px 1.14%;
	position:relative;
	padding:24px;
	vertical-align:middle;
	transition: all .2s ease;

	
}


header .menu .nose:hover{
	opacity:1;
	background-color: blanchedalmond;
	border-radius:1.3px;
	border-bottom: blue;
	border: 10px;
	
	
	
}
.logi{
	padding:0px;
	margin:0px 0%;
	vertical-align:middle;
	float:left;
    opacity:.85; 
	margin-left:0%;
	padding-top: 1%;
	position:relative;
}
.logo{
	width:73px;
	vertical-align:top;
	z-index:17;
}
.contlogo{
	padding-left:6%;
}
.contbotones{
	text-align: center;
	margin-right:10%;
	margin-left: 10%;
}
.logi:hover{
	opacity:1;
}
header .textos{
	width: 100%;
	color: #fff;
	position:absolute;
	text-align:center;
	top:35%;
	
}
header .textos .nombre{
	font-size:5rem;
	font-weight:300;
	position:relative;

}



.main{
	background:#06192e;
	width: 100%;
	height: 250px;
	display: inline-block;
	position: relative;
	text-align: center;
	vertical-align: middle;
	
	

}

.contimg{
	
	width: 15%;
    position: absolute;
    left: 24%;
    top: 2rem;
    
}
.contdesc{
	
	width: 48%;
    position: absolute;
    left: 46%;
	top: 2rem;
	display: grid;
}
.imgreeceta{
	
	width: 90%;
	height: 200px;
	border-radius:50%;
	vertical-align: top;
	z-index: 0;
    box-shadow: 2px 2px 35px rgba(0,0,0,.7);

}
.info{
	display: inline-flex;
	margin-left: 25%;
	margin-right: 25%;
}
.title{
	float: left;
    margin-bottom: 10px;
    font-size: 25px;
    color: white;
}
.fontdescripcion{
	float: left;
    text-align: left;
    font-size: 14px;
    color: white;
}

.caracteris{
	width: 100%;
	background-color: white;
	margin-bottom: 80px;
}

.datos{
	width: 100%;
	background-color: #171717;
	padding-top: 100px;
	padding-bottom: 100px;
	
}
.noset{

	margin-bottom: 30px;
}


.contenedordeproces{
display: flex;
width: 70%;
margin-top:80px;
  margin-left: auto;
  margin-right: auto;
  
}
div h2{
	margin-bottom: 25px;
}
.listingredientes{

width: 30%;
}
.listpreparacion{

width: 69%;
}
li{
	text-decoration: none;
	list-style: none;
}
li h3{
	margin-bottom: 10px;
}
hr{
	width: 79%;
}
.contlista{
	margin-bottom:30px;
}

.contdatos{
	width: 70%;
  margin-left: auto;
  margin-right: auto;
  
  display: flex;
  
}

.beneficios, .vitaminas, .recomendado{
	width: inherit;
}
h4{
	text-align: center;
	color: white;
}
.contenedorbvr{

	width: 70%;
	margin-left: 38%;
	margin-right: auto;
	padding-top: 10px;
}
.contenedorbvr li{
	color: darkgrey;
	list-style: circle;
	margin-top:3px;
	margin-bottom:2px;
}
.xd{
	display: inline;
}


.footer{
	width: 100%;
	padding-top: 50px;
	padding-bottom: 50px;
	background-color: #06192e;
}
.foot{

	width: 60%;
	margin-right: auto;
	display: flex;
	margin-left: auto;
}
.terms, .redes{
	width: inherit;
}
.terms{
	display: grid;
	
	text-align: center;
}
.terms a{
	color: white;
}
.redes{
	display: flex;
	
}
.icons{
	width: 26px;
	margin-top: 18px;
	margin-right: 20px;
}
.iconall{

	margin-right: auto;
	margin-left: auto;
}






















